In [12]:
import chardet
import pandas as pd
filename = "C:/Users/user/Desktop/토양수분생산량기후.csv"
with open(filename, 'rb') as f:
    result = chardet.detect(f.readline())  # or read() if the file is small.
    print(result['encoding'])

EUC-KR

In [13]:
import pandas as pd 
df1=pd.read_csv("C:/Users/user/Desktop/토양수분생산량기후.csv",encoding='EUC-KR')
df1

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
0,강원도 강릉,20.0,2.0,4.0,3.0,4009.0,10.0,238.0,NaN,1235,1740.0,NaN,13.5,17.8,9.6,59.5,1444.9
1,강원도 고성,20.0,1.0,4.0,4.0,5706.0,173.0,1000.0,NaN,3322,10016.0,NaN,14.2,19.8,9.3,NaN,1470.4
2,강원도 동해,20.0,1.0,5.0,4.0,1691.0,NaN,NaN,NaN,NaN,NaN,NaN,12.8,17.0,9.0,64.4,1264.3
3,강원도 삼척,20.0,2.0,6.0,4.0,3689.0,1106.0,27588.0,NaN,655607,1034771.0,NaN,13.3,17.6,9.5,NaN,1258.2
4,강원도 속초,20.0,1.0,5.0,3.0,581.0,NaN,NaN,NaN,NaN,NaN,NaN,12.5,16.6,8.7,65.0,1407.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,충청북도 제천시,20.0,2.0,5.0,NaN,14034.0,3158.0,12595.0,615.0,53572,8251.0,2975.0,10.3,17.0,4.4,68.8,1359.3
259,충청북도 증평군,20.0,1.0,3.0,NaN,692.0,NaN,NaN,NaN,NaN,NaN,2200.0,11.8,18.3,6.3,NaN,1153.2
260,충청북도 진천군,20.0,2.0,4.0,NaN,192.0,NaN,NaN,NaN,900,NaN,39009.0,11.7,18.1,6.4,NaN,1234.2
261,충청북도 청주시,20.0,2.0,2.0,NaN,86329.0,30343.0,NaN,1200.0,70372,NaN,533391.0,13.1,18.4,8.4,64.0,1232.4
262,충청북도 충주시,20.0,1.0,2.0,NaN,2711943.0,3835.0,NaN,3286.0,500,10.0,62092.0,11.7,17.9,6.3,67.3,1214.3

In [4]:
len(df1)

263

In [14]:
df1[df1['밤 (kg)'].isna()&df1['복분자딸기 (kg)'].isna()&df1['오갈피 (kg)'].isna()]

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
21,경기도 광명시,20.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.6,17.8,10.0,NaN,1288.8
28,경기도 부천시,20.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.3,17.7,9.6,NaN,1205.0
30,경기도 수원시,20.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,17.7,8.0,68.3,1320.3
31,경기도 시흥시,20.0,2.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7,17.5,8.4,NaN,1122.6
42,경기도 의정부시,20.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.7,17.5,6.6,NaN,1456.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,전라남도영광,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,전라북도 부안시,20.0,3.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.9,18.3,8.4,73.6,1238.0
231,전라북도 전주시,20.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,제주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,제주 서귀포시,20.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,918704.0,41759.0,16.2,19.3,13.4,68.8,1502.3

In [15]:
drop1=df1[df1[['밤 (kg)', '복분자딸기 (kg)', '오갈피 (kg)','마 (kg)','도라지 (kg)','더덕 (kg)','생표고 (kg)']].isna().all(axis=1)]
drop1
len(drop1)

86

In [16]:
df1 = df1.dropna(subset=['밤 (kg)', '복분자딸기 (kg)', '오갈피 (kg)','마 (kg)','도라지 (kg)','더덕 (kg)','생표고 (kg)'], how='all')
df1

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
0,강원도 강릉,20.0,2.0,4.0,3.0,4009.0,10.0,238.0,NaN,1235,1740.0,NaN,13.5,17.8,9.6,59.5,1444.9
1,강원도 고성,20.0,1.0,4.0,4.0,5706.0,173.0,1000.0,NaN,3322,10016.0,NaN,14.2,19.8,9.3,NaN,1470.4
2,강원도 동해,20.0,1.0,5.0,4.0,1691.0,NaN,NaN,NaN,NaN,NaN,NaN,12.8,17.0,9.0,64.4,1264.3
3,강원도 삼척,20.0,2.0,6.0,4.0,3689.0,1106.0,27588.0,NaN,655607,1034771.0,NaN,13.3,17.6,9.5,NaN,1258.2
4,강원도 속초,20.0,1.0,5.0,3.0,581.0,NaN,NaN,NaN,NaN,NaN,NaN,12.5,16.6,8.7,65.0,1407.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,충청북도 제천시,20.0,2.0,5.0,NaN,14034.0,3158.0,12595.0,615.0,53572,8251.0,2975.0,10.3,17.0,4.4,68.8,1359.3
259,충청북도 증평군,20.0,1.0,3.0,NaN,692.0,NaN,NaN,NaN,NaN,NaN,2200.0,11.8,18.3,6.3,NaN,1153.2
260,충청북도 진천군,20.0,2.0,4.0,NaN,192.0,NaN,NaN,NaN,900,NaN,39009.0,11.7,18.1,6.4,NaN,1234.2
261,충청북도 청주시,20.0,2.0,2.0,NaN,86329.0,30343.0,NaN,1200.0,70372,NaN,533391.0,13.1,18.4,8.4,64.0,1232.4
262,충청북도 충주시,20.0,1.0,2.0,NaN,2711943.0,3835.0,NaN,3286.0,500,10.0,62092.0,11.7,17.9,6.3,67.3,1214.3

In [17]:
df_copy=df1.copy()
df_copy

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
0,강원도 강릉,20.0,2.0,4.0,3.0,4009.0,10.0,238.0,NaN,1235,1740.0,NaN,13.5,17.8,9.6,59.5,1444.9
1,강원도 고성,20.0,1.0,4.0,4.0,5706.0,173.0,1000.0,NaN,3322,10016.0,NaN,14.2,19.8,9.3,NaN,1470.4
2,강원도 동해,20.0,1.0,5.0,4.0,1691.0,NaN,NaN,NaN,NaN,NaN,NaN,12.8,17.0,9.0,64.4,1264.3
3,강원도 삼척,20.0,2.0,6.0,4.0,3689.0,1106.0,27588.0,NaN,655607,1034771.0,NaN,13.3,17.6,9.5,NaN,1258.2
4,강원도 속초,20.0,1.0,5.0,3.0,581.0,NaN,NaN,NaN,NaN,NaN,NaN,12.5,16.6,8.7,65.0,1407.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,충청북도 제천시,20.0,2.0,5.0,NaN,14034.0,3158.0,12595.0,615.0,53572,8251.0,2975.0,10.3,17.0,4.4,68.8,1359.3
259,충청북도 증평군,20.0,1.0,3.0,NaN,692.0,NaN,NaN,NaN,NaN,NaN,2200.0,11.8,18.3,6.3,NaN,1153.2
260,충청북도 진천군,20.0,2.0,4.0,NaN,192.0,NaN,NaN,NaN,900,NaN,39009.0,11.7,18.1,6.4,NaN,1234.2
261,충청북도 청주시,20.0,2.0,2.0,NaN,86329.0,30343.0,NaN,1200.0,70372,NaN,533391.0,13.1,18.4,8.4,64.0,1232.4
262,충청북도 충주시,20.0,1.0,2.0,NaN,2711943.0,3835.0,NaN,3286.0,500,10.0,62092.0,11.7,17.9,6.3,67.3,1214.3

In [18]:
df_copy[['밤 (kg)', '복분자딸기 (kg)', '오갈피 (kg)', '마 (kg)', 
         '도라지 (kg)', '더덕 (kg)', '생표고 (kg)']] = \
    df_copy[['밤 (kg)', '복분자딸기 (kg)', '오갈피 (kg)', '마 (kg)', 
             '도라지 (kg)', '더덕 (kg)', '생표고 (kg)']].fillna(0)

In [19]:
df_copy

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
0,강원도 강릉,20.0,2.0,4.0,3.0,4009.0,10.0,238.0,0.0,1235,1740.0,0.0,13.5,17.8,9.6,59.5,1444.9
1,강원도 고성,20.0,1.0,4.0,4.0,5706.0,173.0,1000.0,0.0,3322,10016.0,0.0,14.2,19.8,9.3,NaN,1470.4
2,강원도 동해,20.0,1.0,5.0,4.0,1691.0,0.0,0.0,0.0,0,0.0,0.0,12.8,17.0,9.0,64.4,1264.3
3,강원도 삼척,20.0,2.0,6.0,4.0,3689.0,1106.0,27588.0,0.0,655607,1034771.0,0.0,13.3,17.6,9.5,NaN,1258.2
4,강원도 속초,20.0,1.0,5.0,3.0,581.0,0.0,0.0,0.0,0,0.0,0.0,12.5,16.6,8.7,65.0,1407.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,충청북도 제천시,20.0,2.0,5.0,NaN,14034.0,3158.0,12595.0,615.0,53572,8251.0,2975.0,10.3,17.0,4.4,68.8,1359.3
259,충청북도 증평군,20.0,1.0,3.0,NaN,692.0,0.0,0.0,0.0,0,0.0,2200.0,11.8,18.3,6.3,NaN,1153.2
260,충청북도 진천군,20.0,2.0,4.0,NaN,192.0,0.0,0.0,0.0,900,0.0,39009.0,11.7,18.1,6.4,NaN,1234.2
261,충청북도 청주시,20.0,2.0,2.0,NaN,86329.0,30343.0,0.0,1200.0,70372,0.0,533391.0,13.1,18.4,8.4,64.0,1232.4
262,충청북도 충주시,20.0,1.0,2.0,NaN,2711943.0,3835.0,0.0,3286.0,500,10.0,62092.0,11.7,17.9,6.3,67.3,1214.3

In [20]:
regions = ['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', 
           '대전광역시', '부산광역시', '울산광역시', '인천광역시', '전라남도', '전라북도', 
           '제주', '충청남도', '충청북도']

columns_to_round = ['토양깊이유형', '토성코드', '토양형코드', '토양유효수분량']
columns_to_mean = ['연평균기온', '최고기온', '최저기온', '상대습도(%)', '강수량(mm)']

for region in regions:
    mask = df_copy['지역'].str.contains(region)
    
    df_copy.loc[mask, columns_to_round] = df_copy.loc[mask, columns_to_round].transform(
        lambda x: x.fillna(x.mean().round())
    )
    
    df_copy.loc[mask, columns_to_mean] = df_copy.loc[mask, columns_to_mean].transform(
        lambda x: x.fillna(x.mean())
    )
df_copy

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
0,강원도 강릉,20.0,2.0,4.0,3.0,4009.0,10.0,238.0,0.0,1235,1740.0,0.0,13.5,17.8,9.6,59.500000,1444.9
1,강원도 고성,20.0,1.0,4.0,4.0,5706.0,173.0,1000.0,0.0,3322,10016.0,0.0,14.2,19.8,9.3,66.527273,1470.4
2,강원도 동해,20.0,1.0,5.0,4.0,1691.0,0.0,0.0,0.0,0,0.0,0.0,12.8,17.0,9.0,64.400000,1264.3
3,강원도 삼척,20.0,2.0,6.0,4.0,3689.0,1106.0,27588.0,0.0,655607,1034771.0,0.0,13.3,17.6,9.5,66.527273,1258.2
4,강원도 속초,20.0,1.0,5.0,3.0,581.0,0.0,0.0,0.0,0,0.0,0.0,12.5,16.6,8.7,65.000000,1407.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,충청북도 제천시,20.0,2.0,5.0,2.0,14034.0,3158.0,12595.0,615.0,53572,8251.0,2975.0,10.3,17.0,4.4,68.800000,1359.3
259,충청북도 증평군,20.0,1.0,3.0,2.0,692.0,0.0,0.0,0.0,0,0.0,2200.0,11.8,18.3,6.3,67.200000,1153.2
260,충청북도 진천군,20.0,2.0,4.0,2.0,192.0,0.0,0.0,0.0,900,0.0,39009.0,11.7,18.1,6.4,67.200000,1234.2
261,충청북도 청주시,20.0,2.0,2.0,2.0,86329.0,30343.0,0.0,1200.0,70372,0.0,533391.0,13.1,18.4,8.4,64.000000,1232.4
262,충청북도 충주시,20.0,1.0,2.0,2.0,2711943.0,3835.0,0.0,3286.0,500,10.0,62092.0,11.7,17.9,6.3,67.300000,1214.3

In [84]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177 entries, 0 to 228
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역          177 non-null    object
 1   토양깊이유형      177 non-null    float64
 2   토성코드        177 non-null    float64
 3   토양형코드       177 non-null    float64
 4   토양유효수분량     174 non-null    float64
 5   밤 (kg)      177 non-null    float64
 6   복분자딸기 (kg)  177 non-null    float64
 7   오갈피 (kg)    177 non-null    float64
 8   마 (kg)      177 non-null    float64
 9   도라지 (kg)    177 non-null    object
 10  더덕 (kg)     177 non-null    float64
 11  생표고 (kg)    177 non-null    float64
 12  능이 (kg)     177 non-null    float64
 13  연평균기온       176 non-null    float64
 14  최고기온        176 non-null    float64
 15  최저기온        176 non-null    float64
 16  상대습도(%)     175 non-null    float64
 17  강수량(mm)     176 non-null    float64
dtypes: float64(16), object(2)
memory usage: 26.3+ KB

In [85]:
df_copy[df_copy['토양유효수분량'].isna()]

,지역,토양깊이유형,토성코드,토양형코드,토양유효수분량,밤 (kg),복분자딸기 (kg),오갈피 (kg),마 (kg),도라지 (kg),더덕 (kg),생표고 (kg),능이 (kg),연평균기온,최고기온,최저기온,상대습도(%),강수량(mm)
149,세종특별자치시,20.0,1.0,1.0,NaN,721867.0,0.0,148.0,0.0,621,45.0,69281.0,0.0,NaN,NaN,NaN,NaN,NaN
201,제주 서귀포시,20.0,3.0,3.0,NaN,0.0,0.0,0.0,0.0,0,918704.0,41759.0,0.0,16.2,19.3,13.4,68.8,1502.3
202,제주 제주시,20.0,3.0,3.0,NaN,110.0,28155.0,79727.0,0.0,405321,4047105.0,67650.0,0.0,16.2,19.3,13.4,68.8,1502.3

In [88]:
df_copy.to_csv("C:/Users/user/Desktop/토양수분생산량기후(찐막인가).csv",encoding='utf-8')